<header class="navbar navbar-default navbar-fixed-top"">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Mashup", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? || lcurrent_user %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <% if user_type=="Student" %>
                <li><%= link_to "Update Profile", edit_student_path(current_user) %></li>
                <li><%= link_to "Update Password", "/supdatepwd" %></li>
                <% else %>
                <li><%= link_to "Update Password", "/eupdatepwd" %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", logout_login_path, :method => :get  %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", "/login" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
