<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :fname %>
      <%= f.text_field :fname %>
 
      <%= f.label :lname %>
      <%= f.text_field :lname %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :bio, "Add Bio" %>
      <%= f.text_area :bio %>

      <%= f.label :skills, "Add Your Skills" %>
      <%= f.text_field :skills %>

<h2>Social Media</h2>
      
      <%= f.label :google, "Your Google+ Profile link" %>
      <%= f.text_field :google %>

      <%= f.label :fb, "Your Facebook Profile link" %>
      <%= f.text_field :fb %>
   
      <%= f.label :github, "Your Github/Bitbucket Profile link" %>
      <%= f.text_field :github %>   

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
